<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>517808830556-24s0dlc10c9a10jtomla1emuikje78ic.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.517808830556-24s0dlc10c9a10jtomla1emuikje78ic</string>
	<key>API_KEY</key>
	<string>AIzaSyDKixidIgAivUUEw1X3t-lO0BmeOxILLeA</string>
	<key>GCM_SENDER_ID</key>
	<string>517808830556</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rk.messengerApp</string>
	<key>PROJECT_ID</key>
	<string>messenger-ed069</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-ed069.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:517808830556:ios:ec10074b1e0dcdd95fce99</string>
</dict>
</plist>